{% extends "base.html" %}
{% load static tailwind_tags %}

{% block title %}{{ poll.title }}{% endblock %}

{% block content %}
<div class="h-max">
    <div class="container mx-auto py-10 text-center">
        <h1 class="text-3xl font-bold text-violet-600">{{ poll.title }}</h1>
        <p class="text-lg text-gray-200 mt-2">{{ poll.description }}</p>
    </div>

    <form method="post" id="pollForm" class="mx-5 md:mx-auto bg-gray-200 shadow-md rounded-lg pt-6 pb-2 px-6 max-w-xl">
        {% csrf_token %}

        <div class="mb-5" id="usernameSection">
            <label for="username" class="block text-lg font-medium text-gray-800">Username:</label>
            <input type="text" id="username" name="username"
                class="mt-2 w-full text-gray-800 p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-violet-500"
                required>
            <div id="error" class="text-red-500 text-center">Username is required</div>
            <div class="text-center mt-6">
                <button type="button" id="startPollButton" class="px-6 py-3 bg-violet-600 text-white font-medium rounded-lg shadow-lg
                    hover:bg-violet-500 hover:shadow-xl transition">Start Poll</button>
            </div>
        </div>

        <div id="questionSection" class="mb-6 hidden">
            <h3 id="answer-h3" class="text-xl font-medium text-gray-800">Answer the questions ({{total_questions}}):</h3>
            {% for question in poll.questions.all %}
            <div class="question-item relative hidden" id="question-{{ question.id }}">
                <p class="font-medium text-lg text-gray-900">{{question.id}} - {{ question.text }}</p>

                {% if question.image %}
                <div class="my-4">
                    <img src="{{ question.image.url }}" style="height: 150px; width: 150px; object-fit: contain;" class="max-w-full mx-auto rounded-lg shadow-md cursor-pointer"
                        onclick="window.open('{{ question.image.url }}', '_blank')" />
                </div>
                {% endif %}

                <div class="grid grid-cols-2 px-1 md:px-5">
                {% for option in question.options.all %}
                <div class="flex items-center mb-2">
                    <input type="radio" id="option-{{ option.id }}" name="option-{{ question.id }}"
                        value="{{ option.id }}" class="mr-3 focus:ring-violet-500 option-radio">
                    <label for="option-{{ option.id }}" class="text-gray-800">{{ option.text }}</label>
                {% if option.image %}
                <div class="ml-4">
                    <img src="{{ option.image.url }}" style="height: 75px; width: 75px; object-fit: contain;" class="max-w-full mx-auto rounded-lg shadow-md cursor-pointer"
                        onclick="window.open('{{ option.image.url }}', '_blank')" />
                </div>
                {% endif %}
                </div>
                {% endfor %}
                <div class="flex items-center">
                    <input type="radio" id="custom_answer-{{ question.id }}" name="question-{{ question.id }}"
                        value="custom" class="mr-3 focus:ring-violet-500">
                    <label for="custom_answer-{{ question.id }}" class="text-gray-800">Other</label>
                </div>
                </div>
                <div class="px-5">
                <input type="text" id="custom_answer_input-{{ question.id }}" name="custom_answer_input-{{ question.id }}"
                       placeholder="Type your answer" style="display: none;"
                       class="mt-2 p-3 w-full text-gray-800 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-violet-500"
                >
                </div>

                <div class="text-center mt-6">
                    {% if question.id != poll.questions.first.id %}
                    <button type="button" class="mr-3 px-6 py-3 bg-violet-600 text-white font-medium rounded-lg shadow-lg
                        hover:bg-violet-500 hover:shadow-xl transition prev-question" data-next="{{ forloop.counter0|add:-1 }}">Back</button>
                    {% endif %}
                    <button type="button" class="ml-3 px-6 py-3 bg-violet-600 text-white font-medium rounded-lg shadow-lg
                        hover:bg-violet-500 hover:shadow-xl transition next-question" data-next="{{ forloop.counter0|add:1 }}">Next</button>
                </div>
            </div>
            {% endfor %}

            <div class="text-center hidden" id="submitSection">
                <h3 class="text-xl font-medium text-gray-800">Poll completed, thanks for your time</h3>
                <button type="submit" class="mt-6 px-6 py-3 bg-violet-600 text-white font-medium rounded-lg shadow-lg
                    hover:bg-violet-500 hover:shadow-xl transition">Submit</button>
            </div>
        </div>
    </form>

    <div class="container mx-auto mt-8 max-w-2xl hidden">
        <div class="bg-gray-300 rounded-full h-2">
            <div class="bg-violet-600 h-2 rounded-full" style="width: {{ progress }}%"></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const startPollButton = document.getElementById('startPollButton');
    const username = document.getElementById('username');
    const error = document.getElementById('error');
    const usernameSection = document.getElementById('usernameSection');
    const questionSection = document.getElementById('questionSection');
    const questionItems = document.querySelectorAll('div.question-item');
    const submitSection = document.getElementById('submitSection');

    error.classList.add('hidden');

    username.addEventListener('input', function () {
        error.classList.toggle('hidden', username.value !== '');
    });

    startPollButton.addEventListener('click', function () {
        if (username.value.trim()) {
            usernameSection.style.display = 'none';
            questionSection.classList.remove('hidden');
            questionItems[0].classList.remove('hidden');
        }
    });

    const prevButtons = document.querySelectorAll('.prev-question');
    const nextButtons = document.querySelectorAll('.next-question');

    prevButtons.forEach((button, index) => {
        button.addEventListener('click', function () {
            questionItems[index + 1].classList.add('hidden');
            questionItems[index].classList.remove('hidden');
        });
    });

    nextButtons.forEach((button, index) => {
        button.addEventListener('click', function () {
            const currentQuestion = questionItems[index];
            const radios = currentQuestion.querySelectorAll('input[type="radio"]');
            const customInput = currentQuestion.querySelector(`input[name="custom_answer_input-${index + 1}"]`);

            const isOptionSelected = Array.from(radios).some(radio => radio.checked);
            const isCustomInputValid = customInput && customInput.style.display === 'block' && customInput.value.trim();

            if (isOptionSelected || isCustomInputValid) {
                questionItems[index].classList.add('hidden');
                if (index + 1 < questionItems.length) {
                    questionItems[index + 1].classList.remove('hidden');
                } else {
                    document.getElementById('answer-h3').classList.add('hidden');
                    submitSection.classList.remove('hidden');
                }
            } else {
                alert("Please select or provide a valid answer before proceeding.");
            }
        });
    });

    function toggleInput(questionId) {
        const customRadio = document.getElementById(`custom_answer-${questionId}`);
        const customInput = document.getElementById(`custom_answer_input-${questionId}`);
        const radios = document.querySelectorAll(`input[name="option-${questionId}"]`);

        if (customRadio.checked) {
            customInput.style.display = 'block';
            customInput.required = true;
            customInput.focus();
            radios.forEach(radio => radio.checked = false);
        } else {
            customInput.style.display = 'none';
            customInput.required = false;
            customInput.value = '';
        }
    }

    questionItems.forEach((questionItem, index) => {
        const questionId = index + 1;
        const radios = questionItem.querySelectorAll(`input[name="option-${questionId}"]`);
        const customRadio = questionItem.querySelector(`input[id="custom_answer-${questionId}"]`);
        const customInput = questionItem.querySelector(`input[id="custom_answer_input-${questionId}"]`);

        console.log(radios)

        radios.forEach(radio => {
            radio.addEventListener('change', function () {
                if (radio.checked) {
                    customRadio.checked = false;
                    customInput.style.display = 'none';
                    customInput.required = false;
                    customInput.value = '';
                }
            });
        });

        customRadio.addEventListener('change', function () {
            toggleInput(questionId);
        });
    });
});

</script>
{% endblock %}
